*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: "Montserrat", sans-serif;
}
.padre{
    display: flex;
    flex-flow: column nowrap;

}
.margen-interno{
    padding: 0 50px;

}

    .header{
        background: url(gatito.jpg);
        background-attachment: contain;
        background-size: cover;
        display: flex;
        flex-flow: column nowrap;
    }
        .menu{
            display: flex;
            background: rgb(0, 0, 0,.1);
            flex-flow: row nowrap;
            height: 100px;
            align-items: center;
            border-bottom: 1px solid rgba(255, 255, 255, .5);
        }
        .logo{
            background: rgb(0, 0, 0,.1);
            flex: 1 1 auto;
            a{
                color: #fff;
                font-size: 30px;
            }
            a:hover{
                color: #343434;
            }
            a:active{
                color:#E6AF2e;
            }
        }
        .nav{
            background: rgb(0, 0, 0,.1);
            flex: 5 1 auto;
            a{
                color: #fff;
                font-size: 11px;
                text-transform: uppercase;
                padding: 0 10px;
                letter-spacing: 2px;
            }
            a:hover{
                color: #343434;
            }
            a:active{
                color:#E6AF2e;
            }
            
        }
        .social{
            background: rgb(0, 0, 0,.1);
            flex: 1 1 auto;
            a{
                color: #fff;
            }
            a:hover{
                color: #343434;
            }
            a:active{
                color:#E6AF2e;
            }
            
        }
        .texto-principal{
            height: 580px;
            display: flex;
            align-items: flex-end;
            
        }
            h1{
                
                font-family: 'Lora', serif;
                font-size: 21px;
                color: #fff;
                font-weight: 300;
                text-align: center;
                line-height: 1.6;
                
            }

    .section{
        background:#000;
        display: flex;
        
        
    }
        .articulos{
            background: rgba(97, 92, 92, 0.356);
            flex-grow: 2;
            flex-shrink: 1;
            flex-basis: auto;
            display: flex;
            flex-flow: row wrap;
            
            
        }
            h3{
                color: #f7f7f7;;
                font-size: 13px;
                padding: 10px 0;
                margin-top: -80px;
                height: 5px;
                margin-left: 30px;
            }
            h2{
                color: #f7f7f7;;
                font-size: 25px;
                text-transform: uppercase;
                padding: 0px 0 10px 0;
                margin-left: 20px;
                
                

            }
            .article{
                background: rgba(61, 44, 44, 0.356);
                flex: 1 1 40%;
                color: #444;
                font-size: 13px;
                letter-spacing: 1;
                flex: 1 1 45%;
                margin: 10px 10px 0px 0px;
                a{
                    color: #fff;
                    font-size: 13px;
                    padding: 10px;
                    background: #000;
                    margin: 10px 0;
                    display: inline-block;
                    border-radius: 5px;

                }
                a:hover{
                    background: #546cc3;
                }
                p{
                    color: #fff;
                    margin-top:  30px;
                }
            }
            .article img{
                width: 100%;
            }
            .navegacion{
                display: flex;
                background: rgba(97, 92, 92, 0.671);
                flex: 1 1 100%;
                justify-content: center;
                a{
                    background: rgba(252, 245, 245, 0.356);
                    color: #fff;
                    font-size: 11px;
                    text-transform: uppercase;
                    padding: 0 10px;
                    letter-spacing: 2px;
                    border-radius: 5px;
                    
                    
                }
            }

        .aside{
            background: rgba(87, 83, 83, 0.575);
            flex-grow: 1;
            flex-shrink: 1;
            flex-basis: auto;
            margin: 10px 5px 10px 0;


        }   
        .aside img{
            width: 100%;
            height: 300px;
            
        }
        h4{
            background: #000;
            color: #fff;
            padding: 10px;
            text-transform: uppercase;
        }
            .publicidad{
                /*background: #ffea85;*/
            }
    .footer{
        background:#000;
        display: flex;
        justify-content: center;
    }
        .pie{
            /*background: #E6AF2e;*/
            width: 300px;
            margin: 10px 10px 0px 0px;
            text-align: center;
            a{
                color: #fff;
                font-size: 11px;
                text-transform: uppercase;
                padding: 0 10px;
                letter-spacing: 2px;
            }
        }

@media all and (max-width: 1120px){
    .section{
        flex-direction: column;
    }
    .menu{
        flex-direction: column;
        height: auto;
    }
    .aside{
        display: flex;
        justify-content: center;
    }
    h1{
        font-size: 15px;
    }
    .texto-principal{
        height: 450px;
    }
}

@media all and (max-width: 762px){
    .articulos{
        flex-direction: column;
    }
}
@media all and (max-width: 650px){
    .off{display: none; }
    .nav a{ font-size: 25px;}
}

@media all and (max-width: 400px){
    .aside{
        flex-direction: column;
    }
}



